h1 {
    color: mediumslateblue;
}
h2 {
    color: hsl(0, 100%, 50%);
}

a:hover {
    color: purple;
  }

p {
    font-family: "Courier New", monospace;
    font-size: 15px;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}